* {
    margin: 0;
    padding: 0;
}

body {
    background: #888;
}
.container {
    max-width: 1500px;
}

.one {
    width: 60%;
    margin: 0 auto;
    border: 0.3rem solid black;
    padding: 0.2rem;
}

.two {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 0.4rem;
}

.child {
    border: 0.3rem solid black;
    grid-area: auto;
    margin: 0 0.3rem;
}